{
  "openapi": "3.1.0",
  "info": {
    "title": "Untch — spend control for agents",
    "version": "1.0.0",
    "description": "Every service this host offers, generated from the definitions its own validators enforce. Each operation carries what must already exist before it can succeed, what it will change, whether repeating it is safe, and what it costs."
  },
  "servers": [
    {
      "url": "https://asp.untch.xyz"
    }
  ],
  "x-untch-network": "eip155:196",
  "x-untch-payment": {
    "protocol": "x402",
    "note": "Paid operations answer 402 with a payment challenge before the handler runs. The challenge names this schema."
  },
  "paths": {
    "/catalog": {
      "get": {
        "operationId": "catalog",
        "summary": "Lists every tool this host serves, with its route, price and purpose.",
        "description": "Lists every tool this host serves, with its route, price and purpose. For any agent deciding whether this host has a tool worth calling.\n\nYou provide: Nothing. This service takes no parameters.\n\nYou receive: a JSON catalog of every route, its price, and what it is for.",
        "tags": [
          "A2MCP"
        ],
        "responses": {
          "200": {
            "description": "a JSON catalog of every route, its price, and what it is for",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Catalog",
                  "properties": {
                    "asp": {
                      "type": "string"
                    },
                    "baseUrl": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "surfaces": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "asp",
                    "baseUrl",
                    "surfaces"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED — the path is right and the verb is not",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          }
        },
        "x-untch-pricing": {
          "kind": "free",
          "price": null,
          "amountBaseUnits": null
        },
        "x-untch-maturity": "live",
        "x-untch-class": "PUBLIC_SUPPORT",
        "x-untch-predecessors": [],
        "x-untch-side-effects": [],
        "x-untch-idempotency": "read-only",
        "x-untch-schema-version": "1.0.0"
      }
    },
    "/ping_untch": {
      "get": {
        "operationId": "ping_untch",
        "summary": "Reports that this host is up and answering.",
        "description": "Reports that this host is up and answering. For any agent checking whether this service is reachable before it decides to spend.\n\nYou provide: Nothing. This service takes no parameters.\n\nYou receive: a timestamped acknowledgement. It is a health check, not a purchase.",
        "tags": [
          "A2MCP"
        ],
        "responses": {
          "200": {
            "description": "a timestamped acknowledgement. It is a health check, not a purchase",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Ping",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "tool": {
                      "type": "string",
                      "const": "ping_untch"
                    },
                    "ts": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d+)?Z$",
                      "description": "When this host answered.",
                      "examples": [
                        "2026-08-01T12:00:00.000Z"
                      ]
                    }
                  },
                  "required": [
                    "ok",
                    "tool",
                    "ts"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "PAYMENT_REQUIRED — no valid payment accompanied the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          }
        },
        "x-untch-pricing": {
          "kind": "free",
          "price": null,
          "amountBaseUnits": null
        },
        "x-untch-maturity": "live",
        "x-untch-class": "PUBLIC_SUPPORT",
        "x-untch-predecessors": [
          {
            "what": "An x402 client holding USDT0 on X Layer mainnet.",
            "why": "The call settles a real payment before the handler runs.",
            "obtainableBy": "any x402-capable wallet funded with USDT0 on eip155:196"
          }
        ],
        "x-untch-side-effects": [
          {
            "what": "Settles $0.01 of USDT0 to this host's payTo address.",
            "durable": true
          }
        ],
        "x-untch-idempotency": "not-idempotent",
        "x-untch-schema-version": "1.0.0"
      }
    },
    "/preflight_payment": {
      "post": {
        "operationId": "preflight_payment",
        "summary": "Judges a proposed payment against a registered spend policy and returns allow, block or escalate, with the rule that decided it.",
        "description": "Judges a proposed payment against a registered spend policy and returns allow, block or escalate, with the rule that decided it. For an operator funding an autonomous agent who wants every payment checked before it moves.\n\nYou provide: provider (string); capability (string); task (string); maxSpend (string); currency (string); deadline (string); either policyId (string), or useDefaultPolicy (boolean).\n\nYou receive: a decision, the ordered list of rules that were evaluated and what each one found, and a receipt reference for the decision.",
        "tags": [
          "A2MCP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "PreflightRequest",
                "description": "A payment you are considering, in your own terms. Every protocol value — the policy hash, the token contract, the hashes of the things you describe below, the nonce, the endpoint — is derived server-side from production state and returned to you, so there is nothing here you have to look up first.",
                "properties": {
                  "policyId": {
                    "type": "string",
                    "pattern": "^[0-9]+$",
                    "description": "The id of a policy registered on the PolicyRegistry contract, as a decimal string. It names the spending rules this request is judged against.",
                    "examples": [
                      "7"
                    ]
                  },
                  "useDefaultPolicy": {
                    "type": "boolean",
                    "description": "Use the policy this account has marked as its default. Send this or policyId, not neither — a request that silently fell back to a default would be a request whose limits nobody chose."
                  },
                  "provider": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The provider you want to pay, by its registered id.",
                    "examples": [
                      "stabledomains"
                    ]
                  },
                  "capability": {
                    "type": "string",
                    "minLength": 1,
                    "description": "What you want that provider to do, by its registered capability id.",
                    "examples": [
                      "domains.register"
                    ]
                  },
                  "task": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "description": "What this payment is for, in a sentence a person would recognise.",
                    "examples": [
                      "Register kyrve.xyz for one year"
                    ]
                  },
                  "maxSpend": {
                    "type": "string",
                    "pattern": "^\\d+(\\.\\d+)?$",
                    "description": "The most you will spend, in DISPLAY units — \"20.00\", not base units.",
                    "examples": [
                      "20.00"
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The settlement currency's symbol. It must be one this network actually settles.",
                    "examples": [
                      "USDT0"
                    ]
                  },
                  "deadline": {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d+)?Z$",
                    "description": "After this the request is stale and must be rebuilt rather than replayed.",
                    "examples": [
                      "2026-08-01T12:00:00.000Z"
                    ]
                  },
                  "recipient": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "Optional. Constrains who may be paid. Without it, the recipient must come from a resolved quote.",
                    "examples": [
                      "0xd9ed4d474b0d01031d10d637546450f39ed6a5ba"
                    ]
                  },
                  "parameters": {
                    "type": "object",
                    "description": "Optional. The structured parameters that will be sent to the provider. Hashed and committed."
                  },
                  "acceptance": {
                    "type": "object",
                    "description": "Optional. What \"delivered\" will mean, committed NOW so that verification later has something to compare against. Without it the task text is used."
                  },
                  "idempotencyKey": {
                    "type": "string",
                    "maxLength": 128,
                    "description": "Optional. Makes a retry of an identical request resolve to the same intent rather than creating a second one."
                  },
                  "buyerAgentId": {
                    "type": "string",
                    "pattern": "^[0-9]+$",
                    "description": "Optional and temporary. Which agent is spending is a property of an account; send it explicitly until your wallet is bound to one."
                  },
                  "workerAgentId": {
                    "type": "string",
                    "pattern": "^[0-9]+$",
                    "description": "Optional and temporary. Which agent is being paid is a property of the provider's registration; send it explicitly until that binding exists."
                  }
                },
                "required": [
                  "provider",
                  "capability",
                  "task",
                  "maxSpend",
                  "currency",
                  "deadline"
                ],
                "anyOf": [
                  {
                    "required": [
                      "policyId"
                    ]
                  },
                  {
                    "required": [
                      "useDefaultPolicy"
                    ]
                  }
                ]
              },
              "examples": {
                "valid": {
                  "summary": "Check a domain registration against policy 7 before paying for it",
                  "value": {
                    "policyId": "7",
                    "provider": "stabledomains",
                    "capability": "domains.register",
                    "task": "Register kyrve.xyz for one year",
                    "maxSpend": "20.00",
                    "currency": "USDT0",
                    "deadline": "2026-08-02T12:00:00.000Z",
                    "recipient": "0xd9ed4d474b0d01031d10d637546450f39ed6a5ba",
                    "parameters": {
                      "domain": "kyrve.xyz",
                      "years": 1
                    },
                    "buyerAgentId": "6047",
                    "workerAgentId": "6086"
                  }
                },
                "refused": {
                  "summary": "Name neither a policy nor a default one the account has chosen → POLICY_REQUIRED",
                  "value": {
                    "provider": "stabledomains",
                    "capability": "domains.register",
                    "task": "Register kyrve.xyz for one year",
                    "maxSpend": "20.00",
                    "currency": "USDT0",
                    "deadline": "2026-08-02T12:00:00.000Z",
                    "recipient": "0xd9ed4d474b0d01031d10d637546450f39ed6a5ba",
                    "parameters": {
                      "domain": "kyrve.xyz",
                      "years": 1
                    },
                    "buyerAgentId": "6047",
                    "workerAgentId": "6086"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "a decision, the ordered list of rules that were evaluated and what each one found, and a receipt reference for the decision",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "PreflightDecision",
                  "properties": {
                    "decision": {
                      "type": "string",
                      "enum": [
                        "ALLOW",
                        "BLOCK",
                        "ESCALATE"
                      ],
                      "description": "What the policy concluded."
                    },
                    "reasons": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Why, in the policy's own terms."
                    },
                    "ruleTrace": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Every rule evaluated, in order, with its verdict. The audit trail of the decision."
                    },
                    "intentHash": {
                      "type": "string",
                      "pattern": "^0x[0-9a-fA-F]{64}$",
                      "description": "The hash of the intent that was judged.",
                      "examples": [
                        "0xabababababababababababababababababababababababababababababababab"
                      ]
                    },
                    "receiptRef": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The receipt this decision was written to, when a receipt writer is wired."
                    }
                  },
                  "required": [
                    "decision",
                    "reasons",
                    "ruleTrace"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "REQUEST_SCHEMA_VIOLATION — a field is missing or has the wrong shape; the message names each one; CURRENCY_NOT_SETTLEABLE — this network has no confirmed contract for that currency; MAX_SPEND_INVALID — maxSpend is not a decimal amount the settlement token can express; DEADLINE_IN_THE_PAST — the deadline has already passed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "ACCOUNT_LINK_REQUIRED — no wallet-backed session accompanied the request; the policy, the spending agent and the owning wallet are all properties of an account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "PAYMENT_REQUIRED — no valid payment accompanied the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "POLICY_REQUIRED — no policyId was sent and the account has chosen no default, or the named policy is neither owned by nor delegated to this account; POLICY_INACTIVE — the policy is paused, revoked, or past its on-chain expiry; RECIPIENT_REQUIRED — no recipient was constrained and no registered service definition names a deterministic payment address for this capability; AUTHORITY_NOT_DERIVABLE — a protocol value cannot be derived without inventing it; the response names each one and what would supply it; QUOTE_REQUIRED — the capability is priced by live quote and none has been resolved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          },
          "410": {
            "description": "QUOTE_EXPIRED — the quote this request was built against has aged out and must be re-taken",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "POLICY_STORE_NOT_CONFIGURED — this instance has no policy store",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          }
        },
        "x-untch-pricing": {
          "kind": "paid",
          "price": "$0.05",
          "amountBaseUnits": "50000"
        },
        "x-untch-maturity": "demo",
        "x-untch-class": "MARKETPLACE_LISTABLE",
        "x-untch-predecessors": [
          {
            "what": "A registered spend policy, and its numeric policyId.",
            "why": "Every decision this service makes is a comparison against a policy. Without one there is nothing to compare to, and the request is refused rather than judged.",
            "obtainableBy": "POST /consumer/policies/draft to build the unsigned registration, send that transaction from your own wallet, then POST /consumer/policies/sync. The policy's owner is whoever sent it — Untch does not relay the call and cannot."
          }
        ],
        "x-untch-side-effects": [
          {
            "what": "Records the decision in this instance's rolling ledger window.",
            "durable": false
          },
          {
            "what": "Writes a DECISION receipt and queues it for anchoring, when a receipt writer is wired.",
            "durable": true
          }
        ],
        "x-untch-idempotency": "not-idempotent",
        "x-untch-schema-version": "2.0.0"
      }
    },
    "/verify_delivery": {
      "post": {
        "operationId": "verify_delivery",
        "summary": "Checks a delivered result against the acceptance criteria that were committed to before the work started, and records the verdict.",
        "description": "Checks a delivered result against the acceptance criteria that were committed to before the work started, and records the verdict. For a buyer deciding whether work they commissioned has actually been delivered.\n\nYou provide: intentId (string).\n\nYou receive: a pass or fail verdict against the committed criteria, and a durable receipt of that verdict.",
        "tags": [
          "A2MCP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "VerifyRequest",
                "description": "Ask for a delivery to be checked against what was agreed. Only the intent id is needed; the policy, quote, execution, settlement, result and receipt are loaded here.",
                "properties": {
                  "intentId": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "The intent to verify, as returned when it was created.",
                    "examples": [
                      "0xabababababababababababababababababababababababababababababababab"
                    ]
                  },
                  "expectedResultHash": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "Optional. A hash you believe the result should have. It is compared and the comparison is reported, but it never overrides the acceptance criteria that were committed — asserting what an answer should be is not the same as it being what was agreed.",
                    "examples": [
                      "0xabababababababababababababababababababababababababababababababab"
                    ]
                  }
                },
                "required": [
                  "intentId"
                ]
              },
              "examples": {
                "valid": {
                  "summary": "Verify one intent",
                  "value": {
                    "intentId": "0x1111111111111111111111111111111111111111111111111111111111111111"
                  }
                },
                "refused": {
                  "summary": "Omit the intent id → REQUEST_SCHEMA_VIOLATION",
                  "value": {
                    "expectedResultHash": "0x6666666666666666666666666666666666666666666666666666666666666666"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "a pass or fail verdict against the committed criteria, and a durable receipt of that verdict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "VerifyResult",
                  "properties": {
                    "verified": {
                      "type": "boolean",
                      "description": "Whether the delivery met the committed criteria."
                    },
                    "proofTier": {
                      "type": "string",
                      "description": "How strong the check was."
                    },
                    "intentHash": {
                      "type": "string",
                      "pattern": "^0x[0-9a-fA-F]{64}$",
                      "description": "The intent this verification is about.",
                      "examples": [
                        "0xabababababababababababababababababababababababababababababababab"
                      ]
                    },
                    "receiptRef": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The durable receipt of this verdict."
                    }
                  },
                  "required": [
                    "verified",
                    "proofTier"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "REQUEST_SCHEMA_VIOLATION — intentId is missing, or expectedResultHash is not a 32-byte hex string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "ACCOUNT_LINK_REQUIRED — no wallet-backed session accompanied the request; a verification is scoped to the account that commissioned the work",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "PAYMENT_REQUIRED — no valid payment accompanied the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "INTENT_NOT_FOUND — no intent with that id is known here, or it belongs to another account — the two answer alike, so an opaque id cannot be probed for existence",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "EXPECTED_RESULT_MISMATCH — expectedResultHash was sent and does not equal the recorded result hash; reported rather than judged, because an assertion about the answer never overrides the committed acceptance criteria; EVIDENCE_INCOMPLETE — the record needed to judge this delivery is not all present; the response names which parts are missing rather than judging on less",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          }
        },
        "x-untch-pricing": {
          "kind": "paid",
          "price": "$0.10",
          "amountBaseUnits": "100000"
        },
        "x-untch-maturity": "demo",
        "x-untch-class": "MARKETPLACE_LISTABLE",
        "x-untch-predecessors": [
          {
            "what": "A verified channel binding, for any decision arriving from Telegram or Discord.",
            "why": "A callback carries a platform identity, which authorises nothing until that identity has been bound to an account. Email never gains a decision path at all: a sender address is forged trivially, so email carries a link to an authenticated session.",
            "obtainableBy": "start the binding from an authenticated dashboard session; production sending stays disabled until the channel credential is rotated (see /internal/credential-state)"
          },
          {
            "what": "A registered spend policy, and its numeric policyId.",
            "why": "Every decision this service makes is a comparison against a policy. Without one there is nothing to compare to, and the request is refused rather than judged.",
            "obtainableBy": "POST /consumer/policies/draft to build the unsigned registration, send that transaction from your own wallet, then POST /consumer/policies/sync. The policy's owner is whoever sent it — Untch does not relay the call and cannot."
          },
          {
            "what": "An intent created on this host.",
            "why": "Verification is about a specific commitment. Without one there is nothing to compare a delivery against.",
            "obtainableBy": "the intentId returned by POST /preflight_payment or POST /create_spend_intent"
          }
        ],
        "x-untch-side-effects": [
          {
            "what": "Writes a VERIFY receipt and queues it for on-chain anchoring. Calling twice writes twice.",
            "durable": true
          }
        ],
        "x-untch-idempotency": "not-idempotent",
        "x-untch-schema-version": "2.0.0"
      }
    },
    "/create_spend_intent": {
      "post": {
        "operationId": "create_spend_intent",
        "summary": "Canonicalises and hashes a proposed payment, binding it to a registered policy.",
        "description": "Canonicalises and hashes a proposed payment, binding it to a registered policy. For an agent that wants one stable hash to refer to a payment through preflight, verification and receipt.\n\nYou provide: policyId (string); intent, containing all 16 of: owner, buyerAgentId, workerAgentId, token, maxAmount, taskHash, acceptanceHash, schemaHash, policyHash, deadline, nonce, endpoint, paramsHash, recipientAddress, category, amount.\n\nYou receive: the canonical form of the intent and its intentHash.",
        "tags": [
          "A2MCP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "CreateIntentRequest",
                "properties": {
                  "policyId": {
                    "type": "string",
                    "pattern": "^[0-9]+$",
                    "description": "The id of a policy registered on the PolicyRegistry contract, as a decimal string. It names the spending rules this request is judged against.",
                    "examples": [
                      "7"
                    ]
                  },
                  "intent": {
                    "type": "object",
                    "title": "SpendIntent",
                    "description": "The bounded object a spend decision is made about. Eleven of these fields are hashed together into the intentHash that the receipt commits to; the remaining five are the operational values the rules read.",
                    "properties": {
                      "owner": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{40}$",
                        "description": "The address that owns the policy this intent is judged against.",
                        "examples": [
                          "0xd9ed4d474b0d01031d10d637546450f39ed6a5ba"
                        ]
                      },
                      "buyerAgentId": {
                        "type": "string",
                        "pattern": "^[0-9]+$",
                        "description": "The ERC-8004 agent id of the agent doing the spending. Sent as a DECIMAL STRING, not a JSON number — JSON numbers cannot carry uint256 without losing precision, so a number here is refused rather than rounded.",
                        "examples": [
                          "1000000"
                        ]
                      },
                      "workerAgentId": {
                        "type": "string",
                        "pattern": "^[0-9]+$",
                        "description": "The ERC-8004 agent id of the agent being paid. Sent as a DECIMAL STRING, not a JSON number — JSON numbers cannot carry uint256 without losing precision, so a number here is refused rather than rounded.",
                        "examples": [
                          "1000000"
                        ]
                      },
                      "token": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{40}$",
                        "description": "The ERC-20 the payment settles in.",
                        "examples": [
                          "0xd9ed4d474b0d01031d10d637546450f39ed6a5ba"
                        ]
                      },
                      "maxAmount": {
                        "type": "string",
                        "pattern": "^[0-9]+$",
                        "description": "The ceiling for this payment, in the token's BASE UNITS. Sent as a DECIMAL STRING, not a JSON number — JSON numbers cannot carry uint256 without losing precision, so a number here is refused rather than rounded.",
                        "examples": [
                          "1000000"
                        ]
                      },
                      "taskHash": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{64}$",
                        "description": "A hash of the task description this payment is for.",
                        "examples": [
                          "0xabababababababababababababababababababababababababababababababab"
                        ]
                      },
                      "acceptanceHash": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{64}$",
                        "description": "A hash of the acceptance criteria delivery will later be judged against.",
                        "examples": [
                          "0xabababababababababababababababababababababababababababababababab"
                        ]
                      },
                      "schemaHash": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{64}$",
                        "description": "A hash of the schema the delivered result must conform to.",
                        "examples": [
                          "0xabababababababababababababababababababababababababababababababab"
                        ]
                      },
                      "policyHash": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{64}$",
                        "description": "The stored hash of the policy named by policyId. Must match exactly.",
                        "examples": [
                          "0xabababababababababababababababababababababababababababababababab"
                        ]
                      },
                      "deadline": {
                        "type": "string",
                        "pattern": "^[0-9]+$",
                        "description": "Unix seconds after which this intent is no longer valid. Sent as a DECIMAL STRING, not a JSON number — JSON numbers cannot carry uint256 without losing precision, so a number here is refused rather than rounded.",
                        "examples": [
                          "1000000"
                        ]
                      },
                      "nonce": {
                        "type": "string",
                        "pattern": "^[0-9]+$",
                        "description": "A value that makes this intent distinct from an otherwise identical one. Sent as a DECIMAL STRING, not a JSON number — JSON numbers cannot carry uint256 without losing precision, so a number here is refused rather than rounded.",
                        "examples": [
                          "1000000"
                        ]
                      },
                      "endpoint": {
                        "type": "string",
                        "description": "The absolute URL the payment is for. Must be absolute, including the scheme.",
                        "pattern": "^https?://",
                        "examples": [
                          "https://asp.untch.xyz/ping_untch"
                        ]
                      },
                      "paramsHash": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{64}$",
                        "description": "A hash of the parameters that will be sent to that endpoint.",
                        "examples": [
                          "0xabababababababababababababababababababababababababababababababab"
                        ]
                      },
                      "recipientAddress": {
                        "type": "string",
                        "pattern": "^0x[0-9a-fA-F]{40}$",
                        "description": "The address that will receive the funds.",
                        "examples": [
                          "0xd9ed4d474b0d01031d10d637546450f39ed6a5ba"
                        ]
                      },
                      "category": {
                        "type": "string",
                        "minLength": 1,
                        "description": "The spend category, as your policy names it. Used by category rules.",
                        "examples": [
                          "api"
                        ]
                      },
                      "amount": {
                        "type": "number",
                        "minimum": 0,
                        "description": "The amount in DISPLAY units, as a JSON NUMBER. This is the one field that must not be a string — every other numeric field above is a decimal string. The inversion is load-bearing: maxAmount is a uint256 ceiling in base units, and this is the human-scale figure the budget rules read.",
                        "examples": [
                          1.5
                        ]
                      }
                    },
                    "required": [
                      "owner",
                      "buyerAgentId",
                      "workerAgentId",
                      "token",
                      "maxAmount",
                      "taskHash",
                      "acceptanceHash",
                      "schemaHash",
                      "policyHash",
                      "deadline",
                      "nonce",
                      "endpoint",
                      "paramsHash",
                      "recipientAddress",
                      "category",
                      "amount"
                    ]
                  }
                },
                "required": [
                  "policyId",
                  "intent"
                ]
              },
              "examples": {
                "valid": {
                  "summary": "Hash an intent under policy 7",
                  "value": {
                    "policyId": "7",
                    "intent": {
                      "owner": "0xd9ed4d474b0d01031d10d637546450f39ed6a5ba",
                      "buyerAgentId": "6047",
                      "workerAgentId": "6086",
                      "token": "0x779ded0c9e1022225f8e0630b35a9b54be713736",
                      "maxAmount": "2000000",
                      "taskHash": "0x1111111111111111111111111111111111111111111111111111111111111111",
                      "acceptanceHash": "0x2222222222222222222222222222222222222222222222222222222222222222",
                      "schemaHash": "0x3333333333333333333333333333333333333333333333333333333333333333",
                      "policyHash": "0x4444444444444444444444444444444444444444444444444444444444444444",
                      "deadline": "1790000000",
                      "nonce": "1",
                      "endpoint": "https://asp.untch.xyz/ping_untch",
                      "paramsHash": "0x5555555555555555555555555555555555555555555555555555555555555555",
                      "recipientAddress": "0xd9ed4d474b0d01031d10d637546450f39ed6a5ba",
                      "category": "api",
                      "amount": 1.5
                    }
                  }
                },
                "refused": {
                  "summary": "Omit the intent → INTENT_REQUIRED",
                  "value": {
                    "policyId": "7"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "the canonical form of the intent and its intentHash",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CreatedIntent",
                  "properties": {
                    "intentHash": {
                      "type": "string",
                      "pattern": "^0x[0-9a-fA-F]{64}$",
                      "description": "The hash every later step refers to.",
                      "examples": [
                        "0xabababababababababababababababababababababababababababababababab"
                      ]
                    },
                    "canonicalIntent": {
                      "type": "object",
                      "description": "Exactly the values that were hashed."
                    },
                    "policyId": {
                      "type": "string"
                    },
                    "onchain": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "The registration transaction, when a writer key is wired."
                    }
                  },
                  "required": [
                    "intentHash",
                    "canonicalIntent",
                    "policyId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "POLICY_ID_REQUIRED — policyId is absent or is not a decimal string; INTENT_REQUIRED — no intent was given; INTENT_MALFORMED — a field of the intent has the wrong type or format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "POLICY_NOT_FOUND — no policy with that id is stored",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "POLICY_STORE_NOT_CONFIGURED — this instance has no policy store",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          }
        },
        "x-untch-pricing": {
          "kind": "free",
          "price": null,
          "amountBaseUnits": null
        },
        "x-untch-maturity": "demo",
        "x-untch-class": "ACCOUNT_CONTROL",
        "x-untch-predecessors": [
          {
            "what": "A registered spend policy, and its numeric policyId.",
            "why": "Every decision this service makes is a comparison against a policy. Without one there is nothing to compare to, and the request is refused rather than judged.",
            "obtainableBy": "POST /consumer/policies/draft to build the unsigned registration, send that transaction from your own wallet, then POST /consumer/policies/sync. The policy's owner is whoever sent it — Untch does not relay the call and cannot."
          },
          {
            "what": "The policyHash of that policy — the exact hash the registry stored when it was registered.",
            "why": "It binds the request to one VERSION of the rules, so a policy edited after the request was built cannot silently change the answer.",
            "obtainableBy": "returned by POST /consumer/policies/draft before registration and by GET /consumer/policies/:policyId afterwards; the on-chain value is authoritative"
          }
        ],
        "x-untch-side-effects": [
          {
            "what": "Caches the intent IN MEMORY on this instance only. It does not survive a restart and is invisible to any other instance.",
            "durable": false
          }
        ],
        "x-untch-idempotency": "idempotent",
        "x-untch-schema-version": "1.0.0"
      }
    },
    "/get_ledger": {
      "post": {
        "operationId": "get_ledger",
        "summary": "Returns the recent spend window this instance is holding for one policy.",
        "description": "Returns the recent spend window this instance is holding for one policy. For an operator checking what a policy has spent recently.\n\nYou provide: policyId (string).\n\nYou receive: the spend-so-far, the call count in the last hour, and the most recent intents.",
        "tags": [
          "A2MCP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "LedgerRequest",
                "properties": {
                  "policyId": {
                    "type": "string",
                    "pattern": "^[0-9]+$",
                    "description": "The id of a policy registered on the PolicyRegistry contract, as a decimal string. It names the spending rules this request is judged against.",
                    "examples": [
                      "7"
                    ]
                  }
                },
                "required": [
                  "policyId"
                ]
              },
              "examples": {
                "valid": {
                  "summary": "Read policy 7's window",
                  "value": {
                    "policyId": "7"
                  }
                },
                "refused": {
                  "summary": "Omit policyId → POLICY_ID_REQUIRED",
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "the spend-so-far, the call count in the last hour, and the most recent intents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "LedgerWindow",
                  "properties": {
                    "policyId": {
                      "type": "string"
                    },
                    "spentToday": {
                      "type": "object"
                    },
                    "callsInLastHour": {
                      "type": "number"
                    },
                    "recentIntents": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "note": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "policyId",
                    "spentToday",
                    "callsInLastHour",
                    "recentIntents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "POLICY_ID_REQUIRED — policyId is absent or empty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          }
        },
        "x-untch-pricing": {
          "kind": "free",
          "price": null,
          "amountBaseUnits": null
        },
        "x-untch-maturity": "demo",
        "x-untch-class": "ACCOUNT_CONTROL",
        "x-untch-predecessors": [
          {
            "what": "A registered spend policy, and its numeric policyId.",
            "why": "Every decision this service makes is a comparison against a policy. Without one there is nothing to compare to, and the request is refused rather than judged.",
            "obtainableBy": "POST /consumer/policies/draft to build the unsigned registration, send that transaction from your own wallet, then POST /consumer/policies/sync. The policy's owner is whoever sent it — Untch does not relay the call and cannot."
          }
        ],
        "x-untch-side-effects": [],
        "x-untch-idempotency": "read-only",
        "x-untch-schema-version": "1.0.0"
      }
    },
    "/detect_duplicate": {
      "post": {
        "operationId": "detect_duplicate",
        "summary": "Says whether this exact task, endpoint and parameter set was already paid for recently.",
        "description": "Says whether this exact task, endpoint and parameter set was already paid for recently. For an agent about to retry, that does not want to pay twice for one job.\n\nYou provide: policyId (string); taskHash (string); endpoint (string); paramsHash (string).\n\nYou receive: whether a matching prior intent exists, which one, and how long the match remains in the window.",
        "tags": [
          "A2MCP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "DuplicateRequest",
                "properties": {
                  "policyId": {
                    "type": "string",
                    "pattern": "^[0-9]+$",
                    "description": "The id of a policy registered on the PolicyRegistry contract, as a decimal string. It names the spending rules this request is judged against.",
                    "examples": [
                      "7"
                    ]
                  },
                  "taskHash": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "The task hash to look for.",
                    "examples": [
                      "0xabababababababababababababababababababababababababababababababab"
                    ]
                  },
                  "endpoint": {
                    "type": "string",
                    "description": "The endpoint the prior call would have used."
                  },
                  "paramsHash": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "The parameter hash to look for.",
                    "examples": [
                      "0xabababababababababababababababababababababababababababababababab"
                    ]
                  }
                },
                "required": [
                  "policyId",
                  "taskHash",
                  "endpoint",
                  "paramsHash"
                ]
              },
              "examples": {
                "valid": {
                  "summary": "Check before retrying",
                  "value": {
                    "policyId": "7",
                    "taskHash": "0x1111111111111111111111111111111111111111111111111111111111111111",
                    "endpoint": "https://asp.untch.xyz/ping_untch",
                    "paramsHash": "0x5555555555555555555555555555555555555555555555555555555555555555"
                  }
                },
                "refused": {
                  "summary": "Omit paramsHash → FIELDS_REQUIRED",
                  "value": {
                    "policyId": "7",
                    "taskHash": "0x1111111111111111111111111111111111111111111111111111111111111111",
                    "endpoint": "https://asp.untch.xyz/ping_untch"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "whether a matching prior intent exists, which one, and how long the match remains in the window",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "DuplicateVerdict",
                  "properties": {
                    "duplicate": {
                      "type": "boolean"
                    },
                    "priorIntentId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "ttlRemainingSec": {
                      "type": [
                        "number",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "duplicate",
                    "priorIntentId",
                    "ttlRemainingSec"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "FIELDS_REQUIRED — any of policyId, taskHash, endpoint or paramsHash is missing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "PAYMENT_REQUIRED — no valid payment accompanied the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          }
        },
        "x-untch-pricing": {
          "kind": "paid",
          "price": "$0.02",
          "amountBaseUnits": "20000"
        },
        "x-untch-maturity": "demo",
        "x-untch-class": "MARKETPLACE_LISTABLE",
        "x-untch-predecessors": [
          {
            "what": "A prior call recorded in THIS instance's rolling window.",
            "why": "The window is process-local and one hour long, so a match can only be found for something this instance itself saw.",
            "obtainableBy": "POST /preflight_payment on this same instance, within the last hour"
          }
        ],
        "x-untch-side-effects": [
          {
            "what": "Settles $0.02 of USDT0.",
            "durable": true
          }
        ],
        "x-untch-idempotency": "read-only",
        "x-untch-schema-version": "1.0.0"
      }
    },
    "/redact_payment_metadata": {
      "post": {
        "operationId": "redact_payment_metadata",
        "summary": "Strips emails, phone numbers, API keys and bearer tokens out of payment metadata and hashes what is left.",
        "description": "Strips emails, phone numbers, API keys and bearer tokens out of payment metadata and hashes what is left. For an agent that must attach metadata to a payment without publishing what is inside it.\n\nYou provide: metadata (object).\n\nYou receive: the redacted metadata and a hash of it, with nothing stored.",
        "tags": [
          "A2MCP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "RedactRequest",
                "properties": {
                  "metadata": {
                    "type": "object",
                    "description": "The metadata to strip."
                  }
                },
                "required": [
                  "metadata"
                ]
              },
              "examples": {
                "valid": {
                  "summary": "Strip a contact address out of an order note",
                  "value": {
                    "metadata": {
                      "note": "ship to ada@example.com",
                      "orderId": "A-1"
                    }
                  }
                },
                "refused": {
                  "summary": "Send a string instead of an object → METADATA_REQUIRED",
                  "value": {
                    "metadata": "ada@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "the redacted metadata and a hash of it, with nothing stored",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Redacted",
                  "properties": {
                    "redacted": {
                      "type": "object"
                    },
                    "metadataHash": {
                      "type": "string",
                      "pattern": "^0x[0-9a-fA-F]{64}$",
                      "description": "A hash of the redacted form.",
                      "examples": [
                        "0xabababababababababababababababababababababababababababababababab"
                      ]
                    },
                    "note": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "redacted",
                    "metadataHash"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "METADATA_REQUIRED — metadata is absent or is not an object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "PAYMENT_REQUIRED — no valid payment accompanied the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          }
        },
        "x-untch-pricing": {
          "kind": "paid",
          "price": "$0.02",
          "amountBaseUnits": "20000"
        },
        "x-untch-maturity": "live",
        "x-untch-class": "MARKETPLACE_LISTABLE",
        "x-untch-predecessors": [],
        "x-untch-side-effects": [
          {
            "what": "Settles $0.02 of USDT0.",
            "durable": true
          },
          {
            "what": "The raw metadata is not stored anywhere.",
            "durable": false
          }
        ],
        "x-untch-idempotency": "idempotent",
        "x-untch-schema-version": "1.0.0"
      }
    },
    "/log_receipt": {
      "post": {
        "operationId": "log_receipt",
        "summary": "Reports the anchoring state of a receipt this host wrote.",
        "description": "Reports the anchoring state of a receipt this host wrote. For a caller holding a receiptRef who wants to know whether it has reached the chain.\n\nYou provide: receiptId (string).\n\nYou receive: the receipt's current state, and its anchoring transaction once it has one.",
        "tags": [
          "A2MCP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "ReceiptLookup",
                "properties": {
                  "receiptId": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "The receiptRef returned by an earlier call.",
                    "examples": [
                      "0xabababababababababababababababababababababababababababababababab"
                    ]
                  }
                },
                "required": [
                  "receiptId"
                ]
              },
              "examples": {
                "valid": {
                  "summary": "Poll a receipt",
                  "value": {
                    "receiptId": "0x7777777777777777777777777777777777777777777777777777777777777777"
                  }
                },
                "refused": {
                  "summary": "Send a short id → BAD_RECEIPT_ID",
                  "value": {
                    "receiptId": "0x77"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "the receipt's current state, and its anchoring transaction once it has one",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ReceiptState",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BAD_RECEIPT_ID — receiptId is not a 32-byte hex string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "RECEIPT_NOT_FOUND — no receipt with that id was written by this host",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "RECEIPTS_NOT_CONFIGURED — this instance has no receipt writer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          }
        },
        "x-untch-pricing": {
          "kind": "free",
          "price": null,
          "amountBaseUnits": null
        },
        "x-untch-maturity": "live",
        "x-untch-class": "ACCOUNT_CONTROL",
        "x-untch-predecessors": [
          {
            "what": "A receiptRef from an earlier paid call.",
            "why": "There is nothing to look up until something has written a receipt.",
            "obtainableBy": "the receiptRef field of a preflight_payment or verify_delivery response"
          }
        ],
        "x-untch-side-effects": [],
        "x-untch-idempotency": "read-only",
        "x-untch-schema-version": "1.0.0"
      }
    },
    "/receipt_status/{receiptId}": {
      "get": {
        "operationId": "receipt_status",
        "summary": "The same receipt state, as a plain GET a browser or a poller can use.",
        "description": "The same receipt state, as a plain GET a browser or a poller can use. For anything polling for an anchor without wanting to POST.\n\nYou provide: Nothing. This service takes no parameters.\n\nYou receive: the receipt's state and its anchoring transaction once it has one.",
        "tags": [
          "A2MCP"
        ],
        "parameters": [
          {
            "name": "receiptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The receiptId this request is about."
          }
        ],
        "responses": {
          "200": {
            "description": "the receipt's state and its anchoring transaction once it has one",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ReceiptState",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BAD_RECEIPT_ID — the id in the path is not a 32-byte hex string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
                      "description": "One sentence a caller can act on."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether repeating the identical request could succeed without changing it."
                    },
                    "docsUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Where the rule is written down, when it is."
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Present only on an unclassified internal failure. Quote it when reporting; it names the log line holding the cause."
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "retryable"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "RECEIPT_NOT_FOUND — no receipt with that id was written by this host",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Refusal",
                  "description": "The shape of every refusal this service returns, at every status code.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "A stable machine-readable reason. Safe to branch on."
                    },
                    "message": {
                      "type": "string",
[...]
